<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForexCalender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="XMLReaderForFX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ForexCalender.Properties.Settings>
            <setting name="checkAUD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkCAD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkCHF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkCNY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkEUR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkGBP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkJPY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkNZD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkUSD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkHIGH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkMEDIUM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkLOW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkNON" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkALL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pathXML" serializeAs="String">
                <value>https://nfs.faireconomy.media/ff_calendar_thisweek.xml</value>
            </setting>
        </ForexCalender.Properties.Settings>
        <XMLReaderForFX.Properties.Settings>
            <setting name="checkAUD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkCAD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkCHF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkCNY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkEUR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkGBP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkJPY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkNZD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkUSD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkHIGH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkMEDIUM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkLOW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkNON" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pathXML" serializeAs="String">
                <value>https://nfs.faireconomy.media/ff_calendar_thisweek.xml</value>
            </setting>
        </XMLReaderForFX.Properties.Settings>
    </userSettings>
</configuration>